In [5]:
import pandas as pd
import numpy as np

In [6]:
NOTEEVENTS=pd.read_csv('C:/Users/fabi/Desktop/Cuidados_medicos/NOTEEVENTS.csv')
OUTPUTEVENTS=pd.read_csv('C:/Users/fabi/Desktop/Cuidados_medicos/OUTPUTEVENTS.csv')
PATIENTS=pd.read_csv('C:/Users/fabi/Desktop/Cuidados_medicos/PATIENTS.csv')
PRESCRIPTIONS=pd.read_csv('C:/Users/fabi/Desktop/Cuidados_medicos/PRESCRIPTIONS.csv')

El dataset NOTEEVENTS se encuentra vacios

In [7]:
NOTEEVENTS.head(5)

Empty DataFrame
Columns: [row_id, subject_id, hadm_id, chartdate, charttime, storetime, category, description, cgid, iserror, text]
Index: []

In [8]:
OUTPUTEVENTS.shape

(11320, 13)

In [9]:
OUTPUTEVENTS.isnull().sum()

row_id            0
subject_id        0
hadm_id           0
icustay_id        1
charttime         0
itemid            0
value           160
valueuom         47
storetime         0
cgid              0
stopped       11320
newbottle     11320
iserror       11320
dtype: int64

In [10]:
OUTPUTEVENTS.dtypes

row_id          int64
subject_id      int64
hadm_id         int64
icustay_id    float64
charttime      object
itemid          int64
value         float64
valueuom       object
storetime      object
cgid            int64
stopped       float64
newbottle     float64
iserror       float64
dtype: object

In [11]:
OUTPUTEVENTS.head(5)

,row_id,subject_id,hadm_id,icustay_id,charttime,itemid,value,valueuom,storetime,cgid,stopped,newbottle,iserror
0,6540,10114,167957,234989.0,2171-10-30 20:00:00,40055,39.0,ml,2171-10-30 20:38:00,15029,NaN,NaN,NaN
1,6541,10114,167957,234989.0,2171-10-30 21:00:00,40055,35.0,ml,2171-10-30 21:18:00,15029,NaN,NaN,NaN
2,6542,10114,167957,234989.0,2171-10-30 23:00:00,40055,100.0,ml,2171-10-30 23:31:00,15029,NaN,NaN,NaN
3,6543,10114,167957,234989.0,2171-10-31 00:00:00,40055,45.0,ml,2171-10-31 00:24:00,15029,NaN,NaN,NaN
4,6544,10114,167957,234989.0,2171-10-31 02:00:00,40055,80.0,ml,2171-10-31 02:02:00,15029,NaN,NaN,NaN

In [22]:
OUTPUTEVENTS.info

<bound method DataFrame.info of         row_id  subject_id  hadm_id  icustay_id            charttime  itemid  \
0         6540       10114   167957    234989.0  2171-10-30 20:00:00   40055
1         6541       10114   167957    234989.0  2171-10-30 21:00:00   40055
2         6542       10114   167957    234989.0  2171-10-30 23:00:00   40055
3         6543       10114   167957    234989.0  2171-10-31 00:00:00   40055
4         6544       10114   167957    234989.0  2171-10-31 02:00:00   40055
...        ...         ...      ...         ...                  ...     ...
11315  4226038       41976   145024    291067.0  2202-05-02 12:00:00  226559
11316  4226039       41976   145024    291067.0  2202-05-02 16:00:00  226559
11317  4226040       41976   145024    291067.0  2202-05-02 19:00:00  226559
11318  4226041       41976   145024    291067.0  2202-05-02 20:00:00  226559
11319  4226042       41976   145024    291067.0  2202-05-01 23:30:00  226582

       value valueuom            storetime   cgid  stopped  newbottle  iserror
0       39.0       ml  2171-10-30 20:38:00  15029      NaN        NaN      NaN
1       35.0       ml  2171-10-30 21:18:00  15029      NaN        NaN      NaN
2      100.0       ml  2171-10-30 23:31:00  15029      NaN        NaN      NaN
3       45.0       ml  2171-10-31 00:24:00  15029      NaN        NaN      NaN
4       80.0       ml  2171-10-31 02:02:00  15029      NaN        NaN      NaN
...      ...      ...                  ...    ...      ...        ...      ...
11315    5.0       mL  2202-05-02 12:59:00  16617      NaN        NaN      NaN
11316  100.0       mL  2202-05-02 16:26:00  16617      NaN        NaN      NaN
11317  200.0       mL  2202-05-02 18:55:00  16617      NaN        NaN      NaN
11318  100.0       mL  2202-05-02 19:54:00  21108      NaN        NaN      NaN
11319   15.0       mL  2202-05-02 00:08:00  14605      NaN        NaN      NaN

[11320 rows x 13 columns]>

In [12]:
PATIENTS.shape

(100, 8)

In [13]:
PATIENTS.isnull().sum()

row_id          0
subject_id      0
gender          0
dob             0
dod             0
dod_hosp       30
dod_ssn        23
expire_flag     0
dtype: int64

In [14]:
PATIENTS.dtypes

row_id          int64
subject_id      int64
gender         object
dob            object
dod            object
dod_hosp       object
dod_ssn        object
expire_flag     int64
dtype: object

In [17]:
PATIENTS.head(5)

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,9467,10006,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1
1,9472,10011,F,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN,1
2,9474,10013,F,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,1
3,9478,10017,F,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00,1
4,9479,10019,M,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,1

In [21]:
PATIENTS.info

<bound method DataFrame.info of     row_id  subject_id gender                  dob                  dod  \
0     9467       10006      F  2094-03-05 00:00:00  2165-08-12 00:00:00
1     9472       10011      F  2090-06-05 00:00:00  2126-08-28 00:00:00
2     9474       10013      F  2038-09-03 00:00:00  2125-10-07 00:00:00
3     9478       10017      F  2075-09-21 00:00:00  2152-09-12 00:00:00
4     9479       10019      M  2114-06-20 00:00:00  2163-05-15 00:00:00
..     ...         ...    ...                  ...                  ...
95   31838       44083      M  2057-11-15 00:00:00  2114-02-20 00:00:00
96   31853       44154      M  1878-05-14 00:00:00  2178-05-15 00:00:00
97   31867       44212      F  2078-06-16 00:00:00  2124-01-29 00:00:00
98   31870       44222      M  2107-06-27 00:00:00  2182-08-03 00:00:00
99   31872       44228      F  2112-10-22 00:00:00  2171-04-14 00:00:00

               dod_hosp              dod_ssn  expire_flag
0   2165-08-12 00:00:00  2165-08-12 00:00:00            1
1   2126-08-28 00:00:00                  NaN            1
2   2125-10-07 00:00:00  2125-10-07 00:00:00            1
3                   NaN  2152-09-12 00:00:00            1
4   2163-05-15 00:00:00  2163-05-15 00:00:00            1
..                  ...                  ...          ...
95  2114-02-20 00:00:00  2114-02-20 00:00:00            1
96  2178-05-15 00:00:00  2178-05-15 00:00:00            1
97                  NaN  2124-01-29 00:00:00            1
98  2182-08-03 00:00:00                  NaN            1
99  2171-04-14 00:00:00                  NaN            1

[100 rows x 8 columns]>

In [15]:
PRESCRIPTIONS.shape

(10398, 19)

In [16]:
PRESCRIPTIONS.isnull().sum()

row_id                  0
subject_id              0
hadm_id                 0
icustay_id           3352
startdate               0
enddate                 1
drug_type               0
drug                    0
drug_name_poe        4632
drug_name_generic    4626
formulary_drug_cd       1
gsn                  1276
ndc                     1
prod_strength           0
dose_val_rx             0
dose_unit_rx            0
form_val_disp           0
form_unit_disp          1
route                   0
dtype: int64

In [18]:
PRESCRIPTIONS.dtypes

row_id                 int64
subject_id             int64
hadm_id                int64
icustay_id           float64
startdate             object
enddate               object
drug_type             object
drug                  object
drug_name_poe         object
drug_name_generic     object
formulary_drug_cd     object
gsn                  float64
ndc                  float64
prod_strength         object
dose_val_rx           object
dose_unit_rx          object
form_val_disp         object
form_unit_disp        object
route                 object
dtype: object

In [19]:
PRESCRIPTIONS.head(5)

,row_id,subject_id,hadm_id,icustay_id,startdate,enddate,drug_type,drug,drug_name_poe,drug_name_generic,formulary_drug_cd,gsn,ndc,prod_strength,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,route
0,32600,42458,159647,NaN,2146-07-21 00:00:00,2146-07-22 00:00:00,MAIN,Pneumococcal Vac Polyvalent,Pneumococcal Vac Polyvalent,PNEUMOcoccal Vac Polyvalent,PNEU25I,48548.0,6494300.0,25mcg/0.5mL Vial,0.5,mL,1,VIAL,IM
1,32601,42458,159647,NaN,2146-07-21 00:00:00,2146-07-22 00:00:00,MAIN,Bisacodyl,Bisacodyl,Bisacodyl,BISA5,2947.0,536338101.0,5 mg Tab,10,mg,2,TAB,PO
2,32602,42458,159647,NaN,2146-07-21 00:00:00,2146-07-22 00:00:00,MAIN,Bisacodyl,Bisacodyl,Bisacodyl (Rectal),BISA10R,2944.0,574705050.0,10mg Suppository,10,mg,1,SUPP,PR
3,32603,42458,159647,NaN,2146-07-21 00:00:00,2146-07-22 00:00:00,MAIN,Senna,Senna,Senna,SENN187,19964.0,904516561.0,1 Tablet,1,TAB,1,TAB,PO
4,32604,42458,159647,NaN,2146-07-21 00:00:00,2146-07-21 00:00:00,MAIN,Docusate Sodium (Liquid),Docusate Sodium (Liquid),Docusate Sodium (Liquid),DOCU100L,3017.0,121054410.0,100mg UD Cup,100,mg,1,UDCUP,PO

In [20]:
PRESCRIPTIONS.info

<bound method DataFrame.info of         row_id  subject_id  hadm_id  icustay_id            startdate  \
0        32600       42458   159647         NaN  2146-07-21 00:00:00
1        32601       42458   159647         NaN  2146-07-21 00:00:00
2        32602       42458   159647         NaN  2146-07-21 00:00:00
3        32603       42458   159647         NaN  2146-07-21 00:00:00
4        32604       42458   159647         NaN  2146-07-21 00:00:00
...        ...         ...      ...         ...                  ...
10393  3609913       42430   100969    210474.0  2142-11-29 00:00:00
10394  3609914       42430   100969    210474.0  2142-11-30 00:00:00
10395  3609915       42430   100969         NaN  2142-11-26 00:00:00
10396  3609916       42430   100969         NaN  2142-11-26 00:00:00
10397  3609917       42430   100969         NaN  2142-11-26 00:00:00

                   enddate drug_type                         drug  \
0      2146-07-22 00:00:00      MAIN  Pneumococcal Vac Polyvalent
1      2146-07-22 00:00:00      MAIN                    Bisacodyl
2      2146-07-22 00:00:00      MAIN                    Bisacodyl
3      2146-07-22 00:00:00      MAIN                        Senna
4      2146-07-21 00:00:00      MAIN     Docusate Sodium (Liquid)
...                    ...       ...                          ...
10393  2142-11-30 00:00:00      MAIN  Sodium Chloride 0.9%  Flush
10394  2142-11-30 00:00:00      MAIN                Acetaminophen
10395  2142-11-27 00:00:00      BASE         0.9% Sodium Chloride
10396  2142-11-27 00:00:00      BASE                          D5W
10397  2142-11-28 00:00:00      BASE        0.83% Sodium Chloride

                     drug_name_poe            drug_name_generic  \
0      Pneumococcal Vac Polyvalent  PNEUMOcoccal Vac Polyvalent
1                        Bisacodyl                    Bisacodyl
2                        Bisacodyl           Bisacodyl (Rectal)
3                            Senna                        Senna
4         Docusate Sodium (Liquid)     Docusate Sodium (Liquid)
...                            ...                          ...
10393  Sodium Chloride 0.9%  Flush  Sodium Chloride 0.9%  Flush
10394                Acetaminophen       Acetaminophen (Rectal)
10395                          NaN                          NaN
10396                          NaN                          NaN
10397                          NaN                          NaN

      formulary_drug_cd      gsn          ndc     prod_strength dose_val_rx  \
0               PNEU25I  48548.0    6494300.0  25mcg/0.5mL Vial         0.5
1                 BISA5   2947.0  536338101.0          5 mg Tab          10
2               BISA10R   2944.0  574705050.0  10mg Suppository          10
3               SENN187  19964.0  904516561.0          1 Tablet           1
4              DOCU100L   3017.0  121054410.0      100mg UD Cup         100
...                 ...      ...          ...               ...         ...
10393         NACLFLUSH      NaN          0.0           Syringe           3
10394          ACET650R   4478.0  713016550.0        650mg Supp         650
10395            NS1000   1210.0  338004904.0        1000mL Bag        1000
10396           HEPBASE      NaN          0.0      HEPARIN BASE         250
10397     NICABAGSODCHL      NaN          0.0        200 mL Bag         200

      dose_unit_rx form_val_disp form_unit_disp    route
0               mL             1           VIAL       IM
1               mg             2            TAB       PO
2               mg             1           SUPP       PR
3              TAB             1            TAB       PO
4               mg             1          UDCUP       PO
...            ...           ...            ...      ...
10393           mL           0.6            SYR       IV
10394           mg             1           SUPP       PR
10395           mL             1            BAG       IV
10396           mL           250             mL       IV
10397           mL             1            BAG  IV DRIP

[10398 rows x 19 columns]>