In [23]:
import pandas as pd

In [24]:
from sqlalchemy import create_engine

In [25]:
#Conexion:
engine = create_engine('mysql+pymysql://admin:adminadmin@datawarehouse.c0bmuj6s8uhs.us-east-2.rds.amazonaws.com:3306/datawarehouse')

In [26]:
#Archivo con datos nuevos obtenidos desde RDS
# Leer la tabla "selected_2" desde la base de datos
df2 = pd.read_sql('selected_2', con=engine)

In [27]:
df2.head()

,paciente,PAM,sistolica,bicarbonato,bilirrubina,creatinina,plaquetas,potasio,sodio,temperatura_F,urea,glucemia,pO2
0,10000032,77.034351,114.704981,27.0,1.6,0.4,83.000000,4.263333,137.2625,98.526087,13.0,3.0875,110.901198
1,10000032,77.034351,114.704981,27.0,1.6,0.3,71.000000,4.263333,137.2625,98.526087,25.0,3.0875,110.901198
2,10000032,77.034351,114.704981,28.0,1.3,0.3,71.000000,4.263333,137.2625,98.526087,25.0,3.0875,110.901198
3,10000032,77.034351,114.704981,29.0,1.6,0.4,224.197954,4.263333,137.2625,98.526087,21.0,3.0875,110.901198
4,10000032,77.034351,114.704981,26.0,1.9,0.3,113.000000,4.263333,137.2625,98.526087,24.0,3.0875,110.901198

______________________________________________________________________________________________________________________________________________

In [28]:
#Ingreso al Árbol de decisión los datos viejos mas los datos nuevos obtenidos desde RDS.

In [29]:
# Lectura de los datos viejos archivo CSV en un DataFrame de Pandas 
df1 = pd.read_csv(r'C:\Users\rocio\OneDrive\Escritorio\Cuidados_Intensivos\Modelos_Machine_Learning\Modelo_Datos_Nuevos\df_selected.csv')

In [30]:
df1.head()

,paciente,fecha,PAS,PAM,sistolica,bicarbonato,bilirrubina,creatinina,GCS,ritmo_cardiaco,plaquetas,potasio,ritmo_respiratorio,sodio,temperatura_F,urea,vancomicina,glucemia,pO2
0,10006,2164-10-23,183.237113,76.860294,119.764706,29.0,1.000000,3.0,15.000000,104.000000,116.0,4.041221,25.000000,137.540984,98.180172,9.0,93.003509,3.1,126.520216
1,10006,2164-10-24,183.237113,76.860294,119.764706,31.0,9.406522,3.5,15.000000,96.000000,106.0,4.041221,20.000000,137.540984,98.180172,11.0,21.600000,3.1,126.520216
2,10006,2164-10-25,183.237113,76.860294,119.764706,29.0,9.406522,5.3,15.000000,87.000000,108.0,4.041221,20.000000,137.540984,98.180172,20.0,93.003509,3.1,126.520216
3,10006,2164-11-16,183.237113,76.860294,119.764706,31.0,9.406522,3.2,24.598726,93.028571,160.0,3.600000,19.801917,137.540984,98.180172,7.0,93.003509,3.1,94.000000
4,10006,2165-03-01,183.237113,76.860294,119.764706,25.0,0.300000,8.6,24.598726,93.028571,166.0,4.800000,19.801917,137.540984,98.180172,34.0,93.003509,3.1,126.520216

In [31]:
# Lectura de los datos nuevos
df2 = pd.read_csv(r'C:\Users\rocio\OneDrive\Escritorio\Cuidados_Intensivos\Modelos_Machine_Learning\Modelo_Datos_Nuevos\selected_syn.csv')

In [32]:
# Lectura de los datos genericos
df2 = pd.read_csv(r'C:\Users\rocio\OneDrive\Escritorio\Cuidados_Intensivos\Modelos_Machine_Learning\Modelo_Datos_Nuevos\selected_syn_2.csv')

In [33]:
# Fusión de los DataFrames en uno solo
df = pd.concat([df1, df2])

In [34]:
df.head()

,paciente,fecha,PAS,PAM,sistolica,bicarbonato,bilirrubina,creatinina,GCS,ritmo_cardiaco,plaquetas,potasio,ritmo_respiratorio,sodio,temperatura_F,urea,vancomicina,glucemia,pO2
0,10006,2164-10-23,183.237113,76.860294,119.764706,29.0,1.000000,3.0,15.000000,104.000000,116.0,4.041221,25.000000,137.540984,98.180172,9.0,93.003509,3.1,126.520216
1,10006,2164-10-24,183.237113,76.860294,119.764706,31.0,9.406522,3.5,15.000000,96.000000,106.0,4.041221,20.000000,137.540984,98.180172,11.0,21.600000,3.1,126.520216
2,10006,2164-10-25,183.237113,76.860294,119.764706,29.0,9.406522,5.3,15.000000,87.000000,108.0,4.041221,20.000000,137.540984,98.180172,20.0,93.003509,3.1,126.520216
3,10006,2164-11-16,183.237113,76.860294,119.764706,31.0,9.406522,3.2,24.598726,93.028571,160.0,3.600000,19.801917,137.540984,98.180172,7.0,93.003509,3.1,94.000000
4,10006,2165-03-01,183.237113,76.860294,119.764706,25.0,0.300000,8.6,24.598726,93.028571,166.0,4.800000,19.801917,137.540984,98.180172,34.0,93.003509,3.1,126.520216

In [52]:
df = df.drop(['fecha'], axis=1)

In [53]:
df.dtypes

paciente                int64
PAS                   float64
PAM                   float64
sistolica             float64
bicarbonato           float64
bilirrubina           float64
creatinina            float64
GCS                   float64
ritmo_cardiaco        float64
plaquetas             float64
potasio               float64
ritmo_respiratorio    float64
sodio                 float64
temperatura_F         float64
urea                  float64
vancomicina           float64
glucemia              float64
pO2                   float64
sepsis                  int32
dtype: object

In [54]:
#Convierto todos los float a int
# Convertir todos los datos de tipo float a tipo int
df = df.astype(int)

In [55]:
df.dtypes

paciente              int32
PAS                   int32
PAM                   int32
sistolica             int32
bicarbonato           int32
bilirrubina           int32
creatinina            int32
GCS                   int32
ritmo_cardiaco        int32
plaquetas             int32
potasio               int32
ritmo_respiratorio    int32
sodio                 int32
temperatura_F         int32
urea                  int32
vancomicina           int32
glucemia              int32
pO2                   int32
sepsis                int32
dtype: object

In [56]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import pickle
# Definir la variable objetivo 'sepsis'
df['sepsis'] =  ((df['ritmo_respiratorio'] > 100) & (df['plaquetas'] < 20) & (df['bilirrubina'] > 12) & (df['PAM'] < 70) & (df['GCS'] < 6) & (df['creatinina'] > 5) & (df['pO2'] > 5)).astype(int)     

# Seleccionar los signos vitales relevantes
X = df[['ritmo_cardiaco', 'plaquetas', 'bilirrubina', 'PAM', 'GCS', 'creatinina', 'pO2']]
y = df['sepsis']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear y entrenar el modelo de árbol de decisión
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [57]:
# Crear un conjunto de características con los signos vitales del paciente
paciente = [[120, 10, 15, 60, 5, 6, 10]]

# Obtener la predicción del modelo
prediccion = model.predict(paciente)

# Imprimir la predicción
if prediccion == 1:
    print("Sepsis positivo")
else:
    print("Sepsis negativo")

Sepsis negativo

c:\Users\rocio\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [58]:
# Crear un conjunto de características con los signos vitales del paciente
paciente = [[110, 15, 100, 100, 15, 20, 10]]

# Obtener la predicción del modelo
prediccion = model.predict(paciente)

# Imprimir la predicción
if prediccion == 1:
    print("Sepsis positivo")
else:
    print("Sepsis negativo")

Sepsis negativo

c:\Users\rocio\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [59]:
# Evaluar el modelo
train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)
print(f'Train score: {train_score:.3f}, Test score: {test_score:.3f}')

Train score: 1.000, Test score: 1.000