In [1]:
import pandas as pd
import numpy as np

Eda 3-5

In [9]:
DRGCODES = pd.read_csv("C:/Users/W10/Desktop/ProjectFinal/Cuidados_Intensivos/dataset/DRGCODES.csv")

In [17]:
DRGCODES.shape

(297, 8)

In [16]:
DRGCODES.isnull().sum()

row_id             0
subject_id         0
hadm_id            0
drg_type           0
drg_code           0
description        0
drg_severity     129
drg_mortality    129
dtype: int64

In [18]:
DRGCODES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         297 non-null    int64
 1   subject_id     297 non-null    int64
 2   hadm_id        297 non-null    int64
 3   drg_type       297 non-null    object
 4   drg_code       297 non-null    int64
 5   description    297 non-null    object
 6   drg_severity   168 non-null    float64
 7   drg_mortality  168 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 18.7+ KB

In [28]:
DRGCODES.subject_id.nunique()

100

In [19]:
DRGCODES.head()

,row_id,subject_id,hadm_id,drg_type,drg_code,description,drg_severity,drg_mortality
0,1338,10130,156668,HCFA,148,MAJOR SMALL & LARGE BOWEL PROCEDURES WITH COMP...,NaN,NaN
1,2188,10114,167957,HCFA,518,PERCUTANEOUS CARDIOVASCULAR PROCEDURES WITHOUT...,NaN,NaN
2,2599,10117,187023,HCFA,185,DENTAL & ORAL DIS EXCEPT EXTRACTIONS & RESTORA...,NaN,NaN
3,2703,10046,133110,HCFA,1,CRANIOTOMY AGE >17 EXCEPT FOR TRAUMA,NaN,NaN
4,3020,10011,105331,HCFA,205,"DISORDERS OF LIVER EXCEPT MALIGNANCY, CIRRHOSI...",NaN,NaN

In [10]:
ICUSTAYS = pd.read_csv("C:/Users/W10/Desktop/ProjectFinal/Cuidados_Intensivos/dataset/ICUSTAYS.csv")

In [20]:
ICUSTAYS.shape

(136, 12)

In [21]:
ICUSTAYS.isnull().sum()

row_id            0
subject_id        0
hadm_id           0
icustay_id        0
dbsource          0
first_careunit    0
last_careunit     0
first_wardid      0
last_wardid       0
intime            0
outtime           0
los               0
dtype: int64

In [22]:
ICUSTAYS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   row_id          136 non-null    int64
 1   subject_id      136 non-null    int64
 2   hadm_id         136 non-null    int64
 3   icustay_id      136 non-null    int64
 4   dbsource        136 non-null    object
 5   first_careunit  136 non-null    object
 6   last_careunit   136 non-null    object
 7   first_wardid    136 non-null    int64
 8   last_wardid     136 non-null    int64
 9   intime          136 non-null    object
 10  outtime         136 non-null    object
 11  los             136 non-null    float64
dtypes: float64(1), int64(6), object(5)
memory usage: 12.9+ KB

In [29]:
ICUSTAYS.subject_id.nunique()

100

In [23]:
ICUSTAYS.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,12742,10006,142345,206504,carevue,MICU,MICU,52,52,2164-10-23 21:10:15,2164-10-25 12:21:07,1.6325
1,12747,10011,105331,232110,carevue,MICU,MICU,15,15,2126-08-14 22:34:00,2126-08-28 18:59:00,13.8507
2,12749,10013,165520,264446,carevue,MICU,MICU,15,15,2125-10-04 23:38:00,2125-10-07 15:13:52,2.6499
3,12754,10017,199207,204881,carevue,CCU,CCU,7,7,2149-05-29 18:52:29,2149-05-31 22:19:17,2.1436
4,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,2163-05-16 03:47:04,1.2938

In [15]:
INPUTEVENTS_CV = pd.read_csv("C:/Users/W10/Desktop/ProjectFinal/Cuidados_Intensivos/dataset/INPUTEVENTS_CV.csv", low_memory=False)

In [24]:
INPUTEVENTS_CV.shape

(34799, 22)

In [25]:
INPUTEVENTS_CV.isnull().sum()

row_id                   0
subject_id               0
hadm_id                  0
icustay_id               0
charttime                0
itemid                   0
amount               10061
amountuom             9796
rate                 25337
rateuom              25251
storetime                0
cgid                   541
orderid                  0
linkorderid              0
stopped              33989
newbottle            34277
originalamount       13585
originalamountuom     9565
originalroute           17
originalrate         23288
originalrateuom      23284
originalsite         34793
dtype: int64

In [26]:
INPUTEVENTS_CV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34799 entries, 0 to 34798
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   row_id             34799 non-null  int64
 1   subject_id         34799 non-null  int64
 2   hadm_id            34799 non-null  int64
 3   icustay_id         34799 non-null  int64
 4   charttime          34799 non-null  object
 5   itemid             34799 non-null  int64
 6   amount             24738 non-null  float64
 7   amountuom          25003 non-null  object
 8   rate               9462 non-null   float64
 9   rateuom            9548 non-null   object
 10  storetime          34799 non-null  object
 11  cgid               34258 non-null  float64
 12  orderid            34799 non-null  int64
 13  linkorderid        34799 non-null  int64
 14  stopped            810 non-null    object
 15  newbottle          522 non-null    float64
 16  originalamount     21214 non-null  float64
 17  originalamountuom  25234 non-null  object
 18  originalroute      34782 non-null  object
 19  originalrate       11511 non-null  float64
 20  originalrateuom    11515 non-null  object
 21  originalsite       6 non-null      object
dtypes: float64(6), int64(7), object(9)
memory usage: 5.8+ MB

In [27]:
INPUTEVENTS_CV.subject_id.nunique()

48

In [30]:
INPUTEVENTS_CV.head()

,row_id,subject_id,hadm_id,icustay_id,charttime,itemid,amount,amountuom,rate,rateuom,...,orderid,linkorderid,stopped,newbottle,originalamount,originalamountuom,originalroute,originalrate,originalrateuom,originalsite
0,1184,10114,167957,234989,2171-11-03 15:00:00,30056,400.0,ml,NaN,NaN,...,2557279,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,1185,10114,167957,234989,2171-11-03 20:00:00,30056,120.0,ml,NaN,NaN,...,7828849,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,1186,10114,167957,234989,2171-11-03 23:00:00,30056,120.0,ml,NaN,NaN,...,2744159,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
3,1187,10114,167957,234989,2171-11-04 02:00:00,30056,120.0,ml,NaN,NaN,...,8475006,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
4,1188,10114,167957,234989,2171-11-04 05:00:00,30056,120.0,ml,NaN,NaN,...,11183474,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN

In [12]:
INPUTEVENTS_MV = pd.read_csv("C:/Users/W10/Desktop/ProjectFinal/Cuidados_Intensivos/dataset/INPUTEVENTS_MV.csv")

In [31]:
INPUTEVENTS_MV.shape

(13224, 31)

In [33]:
INPUTEVENTS_MV.isnull().sum()

row_id                               0
subject_id                           0
hadm_id                              0
icustay_id                           0
starttime                            0
endtime                              0
itemid                               0
amount                               0
amountuom                            0
rate                              5889
rateuom                           5889
storetime                            0
cgid                                 0
orderid                              0
linkorderid                          0
ordercategoryname                    0
secondaryordercategoryname        3385
ordercomponenttypedescription        0
ordercategorydescription             0
patientweight                        0
totalamount                       1440
totalamountuom                    1433
isopenbag                            0
continueinnextdept                   0
cancelreason                         0
statusdescription                    0
comments_editedby                11959
comments_canceledby              12745
comments_date                    11480
originalamount                       0
originalrate                         0
dtype: int64

In [34]:
INPUTEVENTS_MV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13224 entries, 0 to 13223
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   row_id                         13224 non-null  int64
 1   subject_id                     13224 non-null  int64
 2   hadm_id                        13224 non-null  int64
 3   icustay_id                     13224 non-null  int64
 4   starttime                      13224 non-null  object
 5   endtime                        13224 non-null  object
 6   itemid                         13224 non-null  int64
 7   amount                         13224 non-null  float64
 8   amountuom                      13224 non-null  object
 9   rate                           7335 non-null   float64
 10  rateuom                        7335 non-null   object
 11  storetime                      13224 non-null  object
 12  cgid                           13224 non-null  int64
 13  orderid                        13224 non-null  int64
 14  linkorderid                    13224 non-null  int64
 15  ordercategoryname              13224 non-null  object
 16  secondaryordercategoryname     9839 non-null   object
 17  ordercomponenttypedescription  13224 non-null  object
 18  ordercategorydescription       13224 non-null  object
 19  patientweight                  13224 non-null  float64
 20  totalamount                    11784 non-null  float64
 21  totalamountuom                 11791 non-null  object
 22  isopenbag                      13224 non-null  int64
 23  continueinnextdept             13224 non-null  int64
 24  cancelreason                   13224 non-null  int64
 25  statusdescription              13224 non-null  object
 26  comments_editedby              1265 non-null   object
 27  comments_canceledby            479 non-null    object
 28  comments_date                  1744 non-null   object
 29  originalamount                 13224 non-null  float64
 30  originalrate                   13224 non-null  float64
dtypes: float64(6), int64(11), object(14)
memory usage: 3.1+ MB

In [35]:
INPUTEVENTS_MV.subject_id.nunique()

50

In [36]:
INPUTEVENTS_MV.head()

,row_id,subject_id,hadm_id,icustay_id,starttime,endtime,itemid,amount,amountuom,rate,...,totalamountuom,isopenbag,continueinnextdept,cancelreason,statusdescription,comments_editedby,comments_canceledby,comments_date,originalamount,originalrate
0,118897,42367,139932,250305,2147-10-29 16:45:00,2147-10-29 16:46:00,225799,60.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,60.0,60.000000
1,118898,42367,139932,250305,2147-10-20 13:17:00,2147-10-20 13:18:00,223258,10.000000,units,NaN,...,NaN,0,0,1,Rewritten,NaN,RN,2147-10-20 13:18:00,10.0,10.000000
2,118899,42367,139932,250305,2147-10-29 03:23:00,2147-10-29 03:53:00,226089,99.999999,ml,199.999998,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,100.0,200.000000
3,118900,42367,139932,250305,2147-10-22 22:00:00,2147-10-22 22:01:00,225799,40.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,40.0,40.000000
4,118901,42367,139932,250305,2147-10-16 06:21:00,2147-10-17 06:10:00,225936,1309.899995,ml,54.999300,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,1309.9,54.999298

In [13]:
LABEVENTS = pd.read_csv("C:/Users/W10/Desktop/ProjectFinal/Cuidados_Intensivos/dataset/LABEVENTS.csv")

In [37]:
LABEVENTS.shape

(76074, 9)

In [38]:
LABEVENTS.isnull().sum()

row_id            0
subject_id        0
hadm_id       14262
itemid            0
charttime         0
value             4
valuenum       9044
valueuom       9405
flag          46337
dtype: int64

In [39]:
LABEVENTS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76074 entries, 0 to 76073
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   row_id      76074 non-null  int64
 1   subject_id  76074 non-null  int64
 2   hadm_id     61812 non-null  float64
 3   itemid      76074 non-null  int64
 4   charttime   76074 non-null  object
 5   value       76070 non-null  object
 6   valuenum    67030 non-null  float64
 7   valueuom    66669 non-null  object
 8   flag        29737 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 5.2+ MB

In [40]:
LABEVENTS.subject_id.nunique()

100

In [41]:
LABEVENTS.head()

,row_id,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,flag
0,6244563,10006,NaN,50868,2164-09-24 20:21:00,19,19.0,mEq/L,NaN
1,6244564,10006,NaN,50882,2164-09-24 20:21:00,27,27.0,mEq/L,NaN
2,6244565,10006,NaN,50893,2164-09-24 20:21:00,10.0,10.0,mg/dL,NaN
3,6244566,10006,NaN,50902,2164-09-24 20:21:00,97,97.0,mEq/L,NaN
4,6244567,10006,NaN,50912,2164-09-24 20:21:00,7.0,7.0,mg/dL,abnormal

In [14]:
MICROBIOLOGYEVENTS = pd.read_csv("C:/Users/W10/Desktop/ProjectFinal/Cuidados_Intensivos/dataset/MICROBIOLOGYEVENTS.csv")

In [42]:
MICROBIOLOGYEVENTS.shape

(2003, 16)

In [43]:
MICROBIOLOGYEVENTS.isnull().sum()

row_id                    0
subject_id                0
hadm_id                   0
chartdate                 0
charttime                91
spec_itemid               0
spec_type_desc            0
org_itemid              866
org_name                866
isolate_num             866
ab_itemid              1032
ab_name                1032
dilution_text          1064
dilution_comparison    1065
dilution_value         1065
interpretation         1032
dtype: int64

In [44]:
MICROBIOLOGYEVENTS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2003 entries, 0 to 2002
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   row_id               2003 non-null   int64
 1   subject_id           2003 non-null   int64
 2   hadm_id              2003 non-null   int64
 3   chartdate            2003 non-null   object
 4   charttime            1912 non-null   object
 5   spec_itemid          2003 non-null   int64
 6   spec_type_desc       2003 non-null   object
 7   org_itemid           1137 non-null   float64
 8   org_name             1137 non-null   object
 9   isolate_num          1137 non-null   float64
 10  ab_itemid            971 non-null    float64
 11  ab_name              971 non-null    object
 12  dilution_text        939 non-null    object
 13  dilution_comparison  938 non-null    object
 14  dilution_value       938 non-null    float64
 15  interpretation       971 non-null    object
dtypes: float64(4), int64(4), object(8)
memory usage: 250.5+ KB

In [45]:
MICROBIOLOGYEVENTS.subject_id.nunique()

91

In [46]:
MICROBIOLOGYEVENTS.head()

,row_id,subject_id,hadm_id,chartdate,charttime,spec_itemid,spec_type_desc,org_itemid,org_name,isolate_num,ab_itemid,ab_name,dilution_text,dilution_comparison,dilution_value,interpretation
0,134694,10006,142345,2164-10-23 00:00:00,2164-10-23 15:30:00,70012,BLOOD CULTURE,80155.0,"STAPHYLOCOCCUS, COAGULASE NEGATIVE",2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,134695,10006,142345,2164-10-23 00:00:00,2164-10-23 15:30:00,70012,BLOOD CULTURE,80155.0,"STAPHYLOCOCCUS, COAGULASE NEGATIVE",1.0,90015.0,VANCOMYCIN,2,=,2.0,S
2,134696,10006,142345,2164-10-23 00:00:00,2164-10-23 15:30:00,70012,BLOOD CULTURE,80155.0,"STAPHYLOCOCCUS, COAGULASE NEGATIVE",1.0,90012.0,GENTAMICIN,<=0.5,<=,1.0,S
3,134697,10006,142345,2164-10-23 00:00:00,2164-10-23 15:30:00,70012,BLOOD CULTURE,80155.0,"STAPHYLOCOCCUS, COAGULASE NEGATIVE",1.0,90025.0,LEVOFLOXACIN,4,=,4.0,I
4,134698,10006,142345,2164-10-23 00:00:00,2164-10-23 15:30:00,70012,BLOOD CULTURE,80155.0,"STAPHYLOCOCCUS, COAGULASE NEGATIVE",1.0,90016.0,OXACILLIN,=>4,=>,4.0,R